$global-font: 'Roboto Condensed', sans-serif;
$sub-font:  'Bitter',serif;
$detail-color: #ea5a4b;
$sub-text-color: #adadad;
$title-color: #252525;
$main-pic-block-image: url(../images/main-pic-block.jpg) 0 0  no-repeat;
$title-variable-color: #fff;
